@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root{
    --color-body: #FFFFFF;
    --color-heading: #D3D3D3;
    --color-bg: #212125;
    --color-bg-dark: #161619; 
    --color-accent-light: #B7A1D1;
}

body {
    background-color: var(--color-bg);
    color: var(--color-body);
    /*font-family: var(--font-base), sans-serif;*/

}

h1,h2,h3,h4,h5 {
    color: var(--color-heading);
    font-weight: 700;

}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover{
    color: var(--color-accent-light);
}

img{
    width: 100%;
}

.text-accent{
    color: var(--color-accent-light)
}

.bg-base{
    background-color: var(--color-bg-dark);
}

.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

html {
    scroll-snap-type: y mandatory;
}

.shadow-effect{
    transition: all 0.5s;
}

.shadow-effect:hover{
    box-shadow: -6px 6px 0 0 var(--color-accent-light);
}

.iconbox{
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-heading);
    color: var(--color-bg-dark);
}

.tag-box{
    padding: 5px 10px;
    width: auto !important;
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    border-radius: 15px;
    margin-right: 5px;
    font-size: 15px;
    background-color: var(--color-accent-light);
    color: var(--color-bg-dark);
}

/* NAVBAR */

.navbar{
    background-color: var(--color-bg-dark);
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-body);
}

.navbar .nav-link:hover {
    color: var(--color-accent-light)
}

.navbar .nav-link.active{
    color: var(--color-accent-light)
}

@media (min-width: 992px){
    .navbar{
        background-color: var(--color-bg);
    }

}

.footer{
    background-color: var(--color-bg-dark);
    scroll-snap-stop: always;
    scroll-snap-align: start;

}

/* BTN */

.btn {
    padding: 12px 28px;
    font-weight: 700;
}

.btn-accent {
    background-color: var(--color-accent-light);
    border-color: var(--color-accent-light);
    color: var(--color-bg-dark)
}

.btn-accent:hover{
    background-color: var(--color-bg-dark);
    color: var(--color-accent-light)
}

.link-custom {
    font-weight: 700;
    position: relative;

}

.link-custom::after{
    content:"";
    width: 0%;
    height: 2px;
    background-color: var(--color-accent-light);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after{
    width: 100%;
}

/* CARD */
.card-custom .card-custom-image{
    overflow: hidden;
}

.card-custom .card-custom-image img{
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img{
    transform: scale(1.1);
}

