@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root{
    --color-body: #FFFFFF;
    --color-heading: #D3D3D3;
    --color-bg: #212125;
    --color-bg-dark: #161619; 
    --color-accent-mid:#7A7A7C;
    --color-accent-light: #B7A1D1;
    --color-accent-dark: #323236;
}

body {
    background-color: var(--color-bg);
    color: var(--color-body);
    /*font-family: var(--font-base), sans-serif;*/

}

h1,h2,h3,h4,h5 {
    color: var(--color-heading);
    font-weight: 700;

}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover{
    color: var(--color-accent-light);
}

img{
    width: 100%;
}

.text-accent{
    color: var(--color-accent-light)
}

.bg-base{
    background-color: var(--color-bg-dark);
}

.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

html {
    scroll-snap-type: y mandatory;
}

.shadow-effect{
    /*transition: all 0.5s;*/
    box-shadow: 0 0 10px var(--color-bg-dark);
}
/*
.shadow-effect:hover{
    box-shadow: 0 0 10px var(--color-heading);
}
    */

.iconbox{
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-heading);
    color: var(--color-bg-dark);
}

.tag-box{
    padding: 4px 10px;
    width: auto !important;
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    border-radius: 12px;
    margin-right: 5px;
    font-size: 12px;
    background-color: var(--color-accent-light);
    color: var(--color-bg-dark);
}

.about-box{
    background-color: var(--color-bg-dark);
}

/* navbar + footer */

.navbar{
    background-color: var(--color-bg-dark);
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-body);
}

.navbar .nav-link:hover {
    color: var(--color-accent-light)
}

.navbar .nav-link.active{
    color: var(--color-accent-light)
}

@media (min-width: 992px){
    .navbar{
        background-color: var(--color-bg);
    }

}

.footer{
    background-color: var(--color-bg-dark);
    width: 100%;
    text-align: center;
    padding: 30px 0;
    scroll-snap-stop: always;
    scroll-snap-align: start;

}

/* btn */


.btn {
    padding: 12px 28px;
    font-weight: 700;
}

.btn-accent {
    background-color: var(--color-accent-light);
    color: var(--color-bg-dark)
}

.btn-accent:hover,
.btn-accent:active{
    background-color: var(--color-accent-light);
    color: var(--color-bg-dark);
    box-shadow: 0 0 10px white;
}   


/* link */

.link-custom {
    font-weight: 700;
    position: relative;

}

.link-custom::after{
    content:"";
    width: 0%;
    height: 2px;
    background-color: var(--color-accent-light);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after{
    width: 100%;
}

/* card */
.card-custom .card-custom-image{
    overflow: hidden;
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;

}

.card-custom .card-custom-image img{
    transition: all 0.4s ease;
    width: 100%;
}


.card-custom:hover .card-custom-image img{
    transform: scale(1.1);
}

/* image hover */
.layer{
    background: transparent;
    height: 101%;
    width: 101%;
    position: absolute;
    transition: 0.5s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    bottom: 20px;
    cursor:pointer;
}

.layer-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0; 
    left: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 100%;
    transition: 0.3s;
    bottom:-50%;
}

.layer-text:hover{
    
    position: absolute;
    bottom: 0; 
}

.layer:hover{
    background: rgba(0, 0, 0, 0.5);
}

.layer h4{
    font-size: 20px;
    color: var(--color-body);
    text-transform: uppercase;
    font-weight: 600;

}

#myImg{
    border-radius: 5px;
    cursor:pointer;
}

/* modal background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    z-index: 1031;
}

/* popup content */
.popup-content {
    background-color: var(--color-bg-dark);
    color: var(--color-body);
    position: relative;
    margin: auto;
    padding: 50px;
    padding-top: 70px;
    margin-bottom: 70px;
    /* border: 1px solid var(--color-accent-light); */
    max-width: 900px;
    min-height: 50%;
    box-shadow: 0 0 10px var(--color-bg-dark);
}

/* popup image */
.popup-image {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    margin-bottom: 20px;
    
}
  
.popup-h5{
    margin-top: 30px;
}

/* zoom in the modal */
.popup-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* close modal button */
.close {
    position: absolute;
    right: 20px;
    top: 0;
    color: var(--color-body);
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: var(--color-accent-light);
    text-decoration: none;
    cursor: pointer;
}


.icon-margins {

    color: var(--color-heading);
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
        padding-right: 10px;
        padding-left: 0;
    }
}

.icon-size{
    font-size: 18px;
}